<a href="https://colab.research.google.com/github/mohamedssafini/CreditRiskModeling/blob/master/Credit_Risk_Modeling_Preparation_With_Comments_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

## Import Libraries

In [0]:
import numpy as np
import pandas as pd

## Import Data
The dataset contains all available data for more than 800,000 consumer loans issued from 2007 to 2015 by Lending Club: a large US peer-to-peer lending company. There are several different versions of this dataset. We have used a version available on kaggle.com. You can find it here: https://www.kaggle.com/wendykan/lending-club-loan-data/version/1
We divided the data into two periods because we assume that some data are available at the moment when we need to build Expected Loss models, and some data comes from applications after. Later, we investigate whether the applications we have after we built the Probability of Default (PD) model have similar characteristics with the applications we used to build the PD model.

In [0]:
loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

In [0]:
loan_data = loan_data_backup.copy()

## Explore Data

In [4]:
loan_data

        Unnamed: 0       id  member_id  ...  inq_fi  total_cu_tl  inq_last_12m
0                0  1077501    1296599  ...     NaN          NaN           NaN
1                1  1077430    1314167  ...     NaN          NaN           NaN
2                2  1077175    1313524  ...     NaN          NaN           NaN
3                3  1076863    1277178  ...     NaN          NaN           NaN
4                4  1075358    1311748  ...     NaN          NaN           NaN
...            ...      ...        ...  ...     ...          ...           ...
194476      194476  1574521    1842683  ...     NaN          NaN           NaN
194477      194477  1558486    1825295  ...     NaN          NaN           NaN
194478      194478  1574506    1842669  ...     NaN          NaN           NaN
194479      194479  1574495    1842657  ...     NaN          NaN           NaN
194480      194480  1559343    1826495  ...     NaN          NaN           NaN

[194481 rows x 75 columns]

In [0]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [6]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194476,194476,1574521,1842683,14075,14075,14075.0,36 months,10.16,455.22,B,B1,Mont Granite Inc,6 years,MORTGAGE,38500.0,Source Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,"Borrower added on 09/28/12 > Hello, I am try...",debt_consolidation,Credit Card Help,440xx,OH,29.55,0.0,Jan-04,0.0,NaN,NaN,9.0,0.0,8161.0,84.1,14.0,f,0.0,0.0,16050.748340,16050.75,14075.00,1975.75,0.00,0.00,0.00,Sep-14,6039.43,NaN,Dec-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,168282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
194477,194477,1558486,1825295,13000,13000,13000.0,36 months,12.12,432.54,B,B3,Pinellas Park Church of Christ,7 years,MORTGAGE,58000.0,Not Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 09/28/12 > I have been dea...,debt_consolidation,Debt Consolidation Freedom Loan,337xx,FL,8.44,0.0,Mar-98,1.0,45.0,NaN,6.0,0.0,14925.0,44.0,22.0,f,0.0,0.0,14947.937440,14947.94,13000.00,1947.94,0.00,0.00,0.00,Jul-14,31.28,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,14925.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33900.0,NaN,NaN,NaN
194478,194478,1574506,1842669,20000,20000,20000.0,36 months,15.31,696.35,C,C2,"A.V. Drywall & Plastering, Inc.",10+ years,MORTGAGE,90000.0,Not Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Personal,028xx,RI,15.24,0.0,Jan-02,2.0,NaN,NaN,22.0,0.0,15460.0,70.6,51.0,w,0.0,0.0,25068.251850,25068.25,20000.00,5068.25,0.00,0.00,0.00,Oct-15,696.64,NaN,Oct-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,349220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21900.0,NaN,NaN,NaN
194479,194479,1574495,1842657,15000,15000,15000.0,36 months,19.05,550.22,D,D4,1st Class Gymnastics,3 years,MORTGAGE,70000.0,Not Verified,Oct-12,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,210xx,MD,18.62,0.0,Oct-99,1.0,37.0,NaN,13.0,0.0,16406.0,49.4,32.0,f,0.0,0.0,10448.050000,10448.05,6817.98,3630.07,0.00,0.00,0.00,May-14,1094.31,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,49326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33200.0,NaN,NaN,NaN
194480,194480,1559343,1826495,16225,16225,16225.0,36 months,14.33,557.14,C,C1,NaN,NaN,RENT,55670.0,Source Verified,Oct-12,Fully Paid,n,https://www,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
loan_data.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
194476,194476,1574521,1842683,14075,14075,14075.0,36 months,10.16,455.22,B,B1,Mont Granite Inc,6 years,MORTGAGE,38500.0,Source Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,"Borrower added on 09/28/12 > Hello, I am try...",debt_consolidation,Credit Card Help,440xx,OH,29.55,0.0,Jan-04,0.0,NaN,NaN,9.0,0.0,8161.0,84.1,14.0,f,0.0,0.0,16050.74834,16050.75,14075.00,1975.75,0.0,0.0,0.0,Sep-14,6039.43,NaN,Dec-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,168282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
194477,194477,1558486,1825295,13000,13000,13000.0,36 months,12.12,432.54,B,B3,Pinellas Park Church of Christ,7 years,MORTGAGE,58000.0,Not Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 09/28/12 > I have been dea...,debt_consolidation,Debt Consolidation Freedom Loan,337xx,FL,8.44,0.0,Mar-98,1.0,45.0,NaN,6.0,0.0,14925.0,44.0,22.0,f,0.0,0.0,14947.93744,14947.94,13000.00,1947.94,0.0,0.0,0.0,Jul-14,31.28,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,14925.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33900.0,NaN,NaN,NaN
194478,194478,1574506,1842669,20000,20000,20000.0,36 months,15.31,696.35,C,C2,"A.V. Drywall & Plastering, Inc.",10+ years,MORTGAGE,90000.0,Not Verified,Oct-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Personal,028xx,RI,15.24,0.0,Jan-02,2.0,NaN,NaN,22.0,0.0,15460.0,70.6,51.0,w,0.0,0.0,25068.25185,25068.25,20000.00,5068.25,0.0,0.0,0.0,Oct-15,696.64,NaN,Oct-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,349220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21900.0,NaN,NaN,NaN
194479,194479,1574495,1842657,15000,15000,15000.0,36 months,19.05,550.22,D,D4,1st Class Gymnastics,3 years,MORTGAGE,70000.0,Not Verified,Oct-12,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,210xx,MD,18.62,0.0,Oct-99,1.0,37.0,NaN,13.0,0.0,16406.0,49.4,32.0,f,0.0,0.0,10448.05000,10448.05,6817.98,3630.07,0.0,0.0,0.0,May-14,1094.31,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,49326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33200.0,NaN,NaN,NaN
194480,194480,1559343,1826495,16225,16225,16225.0,36 months,14.33,557.14,C,C1,NaN,NaN,RENT,55670.0,Source Verified,Oct-12,Fully Paid,n,https://www,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
loan_data.columns.values
# Displays all column names.

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [10]:
loan_data.info()
# Displays column names, complete (non-missing) cases per column, and datatype per column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194481 entries, 0 to 194480
Data columns (total 75 columns):
Unnamed: 0                     194481 non-null int64
id                             194481 non-null int64
member_id                      194481 non-null int64
loan_amnt                      194481 non-null int64
funded_amnt                    194481 non-null int64
funded_amnt_inv                194481 non-null float64
term                           194481 non-null object
int_rate                       194481 non-null float64
installment                    194481 non-null float64
grade                          194481 non-null object
sub_grade                      194481 non-null object
emp_title                      182284 non-null object
emp_length                     186748 non-null object
home_ownership                 194481 non-null object
annual_inc                     194477 non-null float64
verification_status            194481 non-null object
issue_d                        194481 non-null object
loan_status                    194481 non-null object
pymnt_plan                     194481 non-null object
url                            194481 non-null object
desc                           87994 non-null object
purpose                        194480 non-null object
title                          194461 non-null object
zip_code                       194480 non-null object
addr_state                     194480 non-null object
dti                            194480 non-null float64
delinq_2yrs                    194451 non-null float64
earliest_cr_line               194451 non-null object
inq_last_6mths                 194451 non-null float64
mths_since_last_delinq         83693 non-null float64
mths_since_last_record         20063 non-null float64
open_acc                       194451 non-null float64
pub_rec                        194451 non-null float64
revol_bal                      194480 non-null float64
revol_util                     194301 non-null float64
total_acc                      194451 non-null float64
initial_list_status            194480 non-null object
out_prncp                      194480 non-null float64
out_prncp_inv                  194480 non-null float64
total_pymnt                    194480 non-null float64
total_pymnt_inv                194480 non-null float64
total_rec_prncp                194480 non-null float64
total_rec_int                  194480 non-null float64
total_rec_late_fee             194480 non-null float64
recoveries                     194480 non-null float64
collection_recovery_fee        194480 non-null float64
last_pymnt_d                   194286 non-null object
last_pymnt_amnt                194480 non-null float64
next_pymnt_d                   69817 non-null object
last_credit_pull_d             194465 non-null object
collections_12_mths_ex_med     194335 non-null float64
mths_since_last_major_derog    31239 non-null float64
policy_code                    194480 non-null float64
application_type               194480 non-null object
annual_inc_joint               0 non-null float64
dti_joint                      0 non-null float64
verification_status_joint      0 non-null float64
acc_now_delinq                 194451 non-null float64
tot_coll_amt                   151944 non-null float64
tot_cur_bal                    151944 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               151944 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
dtypes: float64(48), int64(5), object(22)
memory usage: 111.3+ MB

## General Preprocessing

### Preprocessing few continuous variables

In [11]:
loan_data['emp_length'].unique()
# Displays unique values of a column.

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [13]:
loan_data['emp_length_int'].unique()

array(['10', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))

In [15]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3 years', '8 years', '9 years', '4 years',
       '5 years', '6 years', '2 years', '7 years', nan], dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))

In [17]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3 years', '8 years', '9 years', '4 years',
       '5 years', '6 years', '2 years', '7 years', nan], dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')

In [19]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

In [21]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [0]:




# We store the preprocessed ‘employment length’ variable in a new variable called ‘employment length int’,
# We assign the new ‘employment length int’ to be equal to the ‘employment length’ variable with the string ‘+ years’
# replaced with nothing. Next, we replace the whole string ‘less than 1 year’ with the string ‘0’.
# Then, we replace the ‘n/a’ string with the string ‘0’. Then, we replace the string ‘space years’ with nothing.
# Finally, we replace the string ‘space year’ with nothing.

In [22]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

str

In [0]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])
# Transforms the values to numeric.

In [24]:
loan_data['emp_length_int'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [25]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

numpy.float64

In [26]:
loan_data['earliest_cr_line']
# Displays a column.

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
194476    Jan-04
194477    Mar-98
194478    Jan-02
194479    Oct-99
194480       NaN
Name: earliest_cr_line, Length: 194481, dtype: object

In [0]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')
# Extracts the date and the time from a string variable that is in a given format.

In [28]:
type(loan_data['earliest_cr_line_date'][0])
# Checks the datatype of a single element of a column.

pandas._libs.tslibs.timestamps.Timestamp

In [29]:
loan_data['earliest_cr_line_date'][0]

Timestamp('1985-01-01 00:00:00')

In [30]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']
# Calculates the difference between two dates and times.

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
194476    5083 days
194477    7215 days
194478    5813 days
194479    6636 days
194480          NaT
Name: earliest_cr_line_date, Length: 194481, dtype: timedelta64[ns]

In [0]:
# Assume we are now in December 2017
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))
# We calculate the difference between two dates in months, turn it to numeric datatype and round it.
# We save the result in a new variable.

In [33]:
loan_data['mths_since_earliest_cr_line']

0         395.0
1         224.0
2         193.0
3         262.0
4         263.0
          ...
194476    167.0
194477    237.0
194478    191.0
194479    218.0
194480      NaN
Name: mths_since_earliest_cr_line, Length: 194481, dtype: float64

In [32]:
loan_data['mths_since_earliest_cr_line'].describe()
# Shows some descriptive statisics for the values of a column.
# Dates from 1969 and before are not being converted well, i.e., they have become 2069 and similar,
# and negative differences are being calculated.

count    194451.000000
mean        242.502780
std          91.654688
min        -612.000000
25%         188.000000
50%         229.000000
75%         286.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [0]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]
# We take three columns from the dataframe. Then, we display them only for the rows where a variable has negative value.
# There are 2303 strange negative values.

In [0]:
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()
# We set the rows that had negative differences to the maximum value.

In [0]:
min(loan_data['mths_since_earliest_cr_line'])
# Calculates and shows the minimum value of a column.