<a href="https://colab.research.google.com/github/mohamedssafini/CreditRiskModeling/blob/master/PD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

## Import Libraries

In [0]:
import numpy as np
import pandas as pd

## Import Data
The dataset contains all available data for more than 800,000 consumer loans issued from 2007 to 2015 by Lending Club: a large US peer-to-peer lending company. There are several different versions of this dataset. We have used a version available on kaggle.com. You can find it here: https://www.kaggle.com/wendykan/lending-club-loan-data/version/1
We divided the data into two periods because we assume that some data are available at the moment when we need to build Expected Loss models, and some data comes from applications after. Later, we investigate whether the applications we have after we built the Probability of Default (PD) model have similar characteristics with the applications we used to build the PD model.

In [0]:
loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

In [0]:
loan_data = loan_data_backup.copy()

## Explore Data

In [4]:
loan_data

       Unnamed: 0       id  member_id  ...  inq_fi  total_cu_tl  inq_last_12m
0               0  1077501    1296599  ...     NaN          NaN           NaN
1               1  1077430    1314167  ...     NaN          NaN           NaN
2               2  1077175    1313524  ...     NaN          NaN           NaN
3               3  1076863    1277178  ...     NaN          NaN           NaN
4               4  1075358    1311748  ...     NaN          NaN           NaN
...           ...      ...        ...  ...     ...          ...           ...
71884       71884  8405918   10148004  ...     NaN          NaN           NaN
71885       71885  8395874   10137959  ...     NaN          NaN           NaN
71886       71886  8395829   10137917  ...     NaN          NaN           NaN
71887       71887  8395705   10137797  ...     NaN          NaN           NaN
71888       71888  8395873   10137958  ...     NaN          NaN           NaN

[71889 rows x 75 columns]

In [0]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [6]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71884,71884,8405918,10148004,20000,20000,20000.0,36 months,10.99,654.68,B,B2,Associate Veterinarian,2 years,OWN,75000.0,Verified,Oct-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit Card Refinancing Loan,701xx,LA,20.29,0.0,Aug-86,0.0,NaN,NaN,14.0,0.0,26785.0,83.7,37.0,w,6228.75,6228.75,17021.680000,17021.68,13771.25,3250.43,0.00,0.00,0.00,Jan-16,654.68,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,353766.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000.0,NaN,NaN,NaN
71885,71885,8395874,10137959,5000,5000,5000.0,36 months,13.67,170.09,B,B5,Unit Clerk,< 1 year,MORTGAGE,55000.0,Source Verified,Nov-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,193xx,PA,12.48,0.0,Feb-99,2.0,71.0,NaN,9.0,0.0,4733.0,49.3,20.0,f,1599.05,1599.05,4422.160000,4422.16,3400.95,1021.21,0.00,0.00,0.00,Jan-16,170.09,Feb-16,Jan-16,0.0,71.0,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,83714.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9600.0,NaN,NaN,NaN
71886,71886,8395829,10137917,5500,5500,5500.0,36 months,11.99,182.66,B,B3,NaN,NaN,RENT,30000.0,Verified,Oct-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,erase my debit,234xx,VA,27.70,3.0,Nov-86,0.0,13.0,NaN,11.0,0.0,3715.0,26.0,19.0,f,1729.90,1729.90,4749.040000,4749.04,3770.10,978.94,0.00,0.00,0.00,Jan-16,182.66,Jan-16,Jan-16,0.0,68.0,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,16091.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14300.0,NaN,NaN,NaN
71887,71887,8395705,10137797,10000,10000,9950.0,36 months,8.60,316.14,A,A4,Registered nurse,6 years,RENT,55000.0,Not Verified,Nov-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 10/22/13 > Get better fina...,debt_consolidation,No more debt plan,018xx,MA,17.65,0.0,Oct-01,0.0,76.0,NaN,9.0,0.0,8922.0,33.5,20.0,f,3040.45,3025.25,8219.370000,8178.27,6959.55,1259.82,0.00,0.00,0.00,Jan-16,316.14,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,43317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26600.0,NaN,NaN,NaN
71888,71888,8395873,10137958,10000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
loan_data.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
71884,71884,8405918,10148004,20000,20000,20000.0,36 months,10.99,654.68,B,B2,Associate Veterinarian,2 years,OWN,75000.0,Verified,Oct-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit Card Refinancing Loan,701xx,LA,20.29,0.0,Aug-86,0.0,NaN,NaN,14.0,0.0,26785.0,83.7,37.0,w,6228.75,6228.75,17021.68,17021.68,13771.25,3250.43,0.0,0.0,0.0,Jan-16,654.68,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,353766.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000.0,NaN,NaN,NaN
71885,71885,8395874,10137959,5000,5000,5000.0,36 months,13.67,170.09,B,B5,Unit Clerk,< 1 year,MORTGAGE,55000.0,Source Verified,Nov-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,193xx,PA,12.48,0.0,Feb-99,2.0,71.0,NaN,9.0,0.0,4733.0,49.3,20.0,f,1599.05,1599.05,4422.16,4422.16,3400.95,1021.21,0.0,0.0,0.0,Jan-16,170.09,Feb-16,Jan-16,0.0,71.0,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,83714.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9600.0,NaN,NaN,NaN
71886,71886,8395829,10137917,5500,5500,5500.0,36 months,11.99,182.66,B,B3,NaN,NaN,RENT,30000.0,Verified,Oct-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,erase my debit,234xx,VA,27.70,3.0,Nov-86,0.0,13.0,NaN,11.0,0.0,3715.0,26.0,19.0,f,1729.90,1729.90,4749.04,4749.04,3770.10,978.94,0.0,0.0,0.0,Jan-16,182.66,Jan-16,Jan-16,0.0,68.0,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,16091.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14300.0,NaN,NaN,NaN
71887,71887,8395705,10137797,10000,10000,9950.0,36 months,8.60,316.14,A,A4,Registered nurse,6 years,RENT,55000.0,Not Verified,Nov-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 10/22/13 > Get better fina...,debt_consolidation,No more debt plan,018xx,MA,17.65,0.0,Oct-01,0.0,76.0,NaN,9.0,0.0,8922.0,33.5,20.0,f,3040.45,3025.25,8219.37,8178.27,6959.55,1259.82,0.0,0.0,0.0,Jan-16,316.14,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,43317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26600.0,NaN,NaN,NaN
71888,71888,8395873,10137958,10000,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
loan_data.columns.values
# Displays all column names.

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [10]:
loan_data.info()
# Displays column names, complete (non-missing) cases per column, and datatype per column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71889 entries, 0 to 71888
Data columns (total 75 columns):
Unnamed: 0                     71889 non-null int64
id                             71889 non-null int64
member_id                      71889 non-null int64
loan_amnt                      71889 non-null int64
funded_amnt                    71889 non-null int64
funded_amnt_inv                71888 non-null float64
term                           71888 non-null object
int_rate                       71888 non-null float64
installment                    71888 non-null float64
grade                          71888 non-null object
sub_grade                      71888 non-null object
emp_title                      67291 non-null object
emp_length                     69460 non-null object
home_ownership                 71888 non-null object
annual_inc                     71884 non-null float64
verification_status            71888 non-null object
issue_d                        71888 non-null object
loan_status                    71888 non-null object
pymnt_plan                     71888 non-null object
url                            71888 non-null object
desc                           37977 non-null object
purpose                        71888 non-null object
title                          71874 non-null object
zip_code                       71888 non-null object
addr_state                     71888 non-null object
dti                            71888 non-null float64
delinq_2yrs                    71859 non-null float64
earliest_cr_line               71859 non-null object
inq_last_6mths                 71859 non-null float64
mths_since_last_delinq         29307 non-null float64
mths_since_last_record         7361 non-null float64
open_acc                       71859 non-null float64
pub_rec                        71859 non-null float64
revol_bal                      71888 non-null float64
revol_util                     71785 non-null float64
total_acc                      71859 non-null float64
initial_list_status            71888 non-null object
out_prncp                      71888 non-null float64
out_prncp_inv                  71888 non-null float64
total_pymnt                    71888 non-null float64
total_pymnt_inv                71888 non-null float64
total_rec_prncp                71888 non-null float64
total_rec_int                  71888 non-null float64
total_rec_late_fee             71888 non-null float64
recoveries                     71888 non-null float64
collection_recovery_fee        71888 non-null float64
last_pymnt_d                   71794 non-null object
last_pymnt_amnt                71888 non-null float64
next_pymnt_d                   21002 non-null object
last_credit_pull_d             71875 non-null object
collections_12_mths_ex_med     71743 non-null float64
mths_since_last_major_derog    6499 non-null float64
policy_code                    71888 non-null float64
application_type               71888 non-null object
annual_inc_joint               0 non-null float64
dti_joint                      0 non-null float64
verification_status_joint      0 non-null float64
acc_now_delinq                 71859 non-null float64
tot_coll_amt                   29353 non-null float64
tot_cur_bal                    29353 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               29353 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
dtypes: float64(48), int64(5), object(22)
memory usage: 41.1+ MB

## General Preprocessing

### Preprocessing few continuous variables

In [11]:
loan_data['emp_length'].unique()
# Displays unique values of a column.

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [13]:
loan_data['emp_length_int'].unique()

array(['10', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))

In [15]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3 years', '8 years', '9 years', '4 years',
       '5 years', '6 years', '2 years', '7 years', nan], dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))

In [17]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3 years', '8 years', '9 years', '4 years',
       '5 years', '6 years', '2 years', '7 years', nan], dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')

In [19]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1 year', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [0]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

In [21]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [0]:




# We store the preprocessed ‘employment length’ variable in a new variable called ‘employment length int’,
# We assign the new ‘employment length int’ to be equal to the ‘employment length’ variable with the string ‘+ years’
# replaced with nothing. Next, we replace the whole string ‘less than 1 year’ with the string ‘0’.
# Then, we replace the ‘n/a’ string with the string ‘0’. Then, we replace the string ‘space years’ with nothing.
# Finally, we replace the string ‘space year’ with nothing.

In [23]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

str

In [0]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])
# Transforms the values to numeric.

In [25]:
loan_data['emp_length_int'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [26]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

numpy.float64

In [27]:
loan_data['earliest_cr_line']
# Displays a column.

0        Jan-85
1        Apr-99
2        Nov-01
3        Feb-96
4        Jan-96
          ...
71884    Aug-86
71885    Feb-99
71886    Nov-86
71887    Oct-01
71888       NaN
Name: earliest_cr_line, Length: 71889, dtype: object

In [0]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')
# Extracts the date and the time from a string variable that is in a given format.

In [29]:
type(loan_data['earliest_cr_line_date'][0])
# Checks the datatype of a single element of a column.

pandas._libs.tslibs.timestamps.Timestamp

In [30]:
loan_data['earliest_cr_line_date'][0]

Timestamp('1985-01-01 00:00:00')

In [31]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']
# Calculates the difference between two dates and times.

0       12022 days
1        6819 days
2        5874 days
3        7974 days
4        8005 days
           ...
71884   11445 days
71885    6878 days
71886   11353 days
71887    5905 days
71888          NaT
Name: earliest_cr_line_date, Length: 71889, dtype: timedelta64[ns]

In [0]:
# Assume we are now in December 2017
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))
# We calculate the difference between two dates in months, turn it to numeric datatype and round it.
# We save the result in a new variable.

In [33]:
loan_data['mths_since_earliest_cr_line']

0        395.0
1        224.0
2        193.0
3        262.0
4        263.0
         ...
71884    376.0
71885    226.0
71886    373.0
71887    194.0
71888      NaN
Name: mths_since_earliest_cr_line, Length: 71889, dtype: float64

In [34]:
loan_data['mths_since_earliest_cr_line'].describe()
# Shows some descriptive statisics for the values of a column.
# Dates from 1969 and before are not being converted well, i.e., they have become 2069 and similar,
# and negative differences are being calculated.

count    71859.000000
mean       244.744082
std         91.911334
min       -612.000000
25%        190.000000
50%        231.000000
75%        288.000000
max        587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [35]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]
# We take three columns from the dataframe. Then, we display them only for the rows where a variable has negative value.
# There are 2303 strange negative values.

      earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580            Sep-62            2062-09-01                       -537.0
1770            Sep-68            2068-09-01                       -609.0
2799            Sep-64            2064-09-01                       -561.0
3282            Sep-67            2067-09-01                       -597.0
3359            Feb-65            2065-02-01                       -566.0
...                ...                   ...                          ...
70031           Apr-68            2068-04-01                       -604.0
70441           Jun-62            2062-06-01                       -534.0
70751           Nov-67            2067-11-01                       -599.0
71505           Feb-68            2068-02-01                       -602.0
71793           Aug-67            2067-08-01                       -596.0

[178 rows x 3 columns]

In [36]:
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()
# We set the rows that had negative differences to the maximum value.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
min(loan_data['mths_since_earliest_cr_line'])
# Calculates and shows the minimum value of a column.

85.0

In [38]:
loan_data['term'].unique()

array([' 36 months', ' 60 months', nan], dtype=object)

In [0]:
loan_data['term_int'] = loan_data['term'].str.replace(' months', '')

In [40]:
loan_data['term_int'].unique()

array([' 36', ' 60', nan], dtype=object)

In [0]:
loan_data['term_int']= pd.to_numeric(loan_data['term_int'])

In [42]:
loan_data['term_int'].unique()

array([36., 60., nan])

In [43]:
loan_data['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', nan], dtype=object)

In [0]:
loan_data['issue_d_date']=pd.to_datetime(loan_data['issue_d'], format = '%b-%y')

In [51]:
type(loan_data['issue_d_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [52]:
loan_data['issue_d_date'][0]

Timestamp('2011-12-01 00:00:00')

In [53]:
pd.to_datetime('2017-12-01') - loan_data['issue_d_date']

0       2192 days
1       2192 days
2       2192 days
3       2192 days
4       2192 days
           ...
71884   1522 days
71885   1491 days
71886   1522 days
71887   1491 days
71888         NaT
Name: issue_d_date, Length: 71889, dtype: timedelta64[ns]

In [0]:
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))

In [55]:
loan_data['mths_since_issue_d']

0        72.0
1        72.0
2        72.0
3        72.0
4        72.0
         ...
71884    50.0
71885    49.0
71886    50.0
71887    49.0
71888     NaN
Name: mths_since_issue_d, Length: 71889, dtype: float64

In [56]:
loan_data['mths_since_issue_d'].describe()

count    71888.000000
mean        70.742558
std         20.686325
min         48.000000
25%         49.000000
50%         74.000000
75%         86.000000
max        126.000000
Name: mths_since_issue_d, dtype: float64

In [57]:
loan_data.loc[: , ['issue_d', 'issue_d_date', 'mths_since_issue_d']][loan_data['mths_since_issue_d'] < 0]

Empty DataFrame
Columns: [issue_d, issue_d_date, mths_since_issue_d]
Index: []

In [58]:
min(loan_data['mths_since_issue_d'])

48.0

In [59]:
loan_data['grade']

0          B
1          C
2          C
3          C
4          B
        ...
71884      B
71885      B
71886      B
71887      A
71888    NaN
Name: grade, Length: 71889, dtype: object

In [61]:
loan_data['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G', nan], dtype=object)